
/*início estilização header*/
header {
    background-color: #F9E6B3;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pacifico', cursive;

}

.logo {
    width: 10em;
}

.titulo_header {
    margin: auto;
}

.iconeheader {
    width: 4em;
    margin-right: 1em;
    margin-top: 1em;
}

.botaoheader {
    margin: auto;
}

button {
    background-color: #F9E6B3;
    border: none;
}

/*fim estilização header*/

/*início estilização main*/
main {
    background-color: white;
    color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside {
    width: 25%;
    display: flex;
    align-items: center;
    margin: auto;
}

.containerForm {
    height: 100vh;
    width: 75vw;
}

h1 {
    display: flex;
    justify-content: center;
}

.containerForm form fieldset {
    display: flex;
    height: 90vh;
}

#form-pessoa-fisica {
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

#form-pessoa-juridica {
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

.containerInputs {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerForm form fieldset label {
    display: block;
    width: 100%;
    margin: auto;
}

.mensagemErro {
    margin: 0;
    font-size: 12px;
}

input:not([type="checkbox"]) {
    width: 90%;
    height: 2.2em;
    border-color: rgba(127, 178, 241, 0.567);
}

select {
    width: 90%;
    height: 2.2em;
    border-color: rgba(127, 178, 241, 0.567);
    border-width: 2px;
}

.criarConta {
    width: 17em;
    height: 2.5em;
    margin-bottom: auto;

    background-color: #1877f2;
    border-radius: 3px;

    color: white;
    font-weight: bolder;
    font-size: 17px;
}
/*fim estilização main*/

/*início estilização footer*/
footer {
    background-color: #FFFFFF;
    height: 0;
}

.copyright {
    text-align: center;
    background-color: #808080;
}

/*fim estilização footer*/