body {
    margin: 0;
    display: inline;
}

/*estilo cabeçalho*/
.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
}


.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #ddd;
}


.search-container {
    float: right;
    margin-right: 20px;
}


.search-container input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}


.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


.search-container button:hover {
    background: #4eadad;
}

/*fim estilo cabeçalho*/

/*estilo main*/
main {
    display: flex;
}

.caixa-main {
    display: inline-flex;
    flex-direction: column;
}

#rodape1 {
    margin-top: 150px;
    
}
