
header {
    background-color: #F9E6B3;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Pacifico', cursive;

}

.logo {
    width: 10em;
}

.titulo_header {
    margin: auto;
}

.iconeheader {
    width: 4em;
    margin-right: 1em;
    margin-top: 1em;
}

.botaoheader {
    margin: auto;
}

button {
    background-color: #F9E6B3;
    border: none;
}


main {
    background-color: white;
    color: black;
    width: 100vw;
    height: 90vh;
    display: flex;
}

.secoesprincipal {
    display: flex;
    margin-top: 2em;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

.sectionmain {
    flex: 1;
    flex-grow: 1;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
}


.containersections {
    display: inline;
    align-items: center;
}

.criarconta {
    width: 20em;
    height: 3em;

    background-color: #1877f2;
    border-radius: 3px;

    color: white;
    font-weight: bolder;
    font-size: 17px;
}

button span {
    margin-left: 3em;
    font-size: 17px;
    color: white;
}

.inscricao {
    width: 22em;
    height: 2.5em;
    border-color: rgba(127, 178, 241, 0.567);
    border-radius: 4px;
}

.botaoEntrar {
    display: block;
    width: 20.5em;
    height: 3em;
    margin-top: 20px;

    background-color: rgb(52, 169, 16);
    border-radius: 3px;

    color: white;
    font-weight: bolder;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .submeter {
        position: static;
        margin: 20px auto 0;
    }
}

footer {
    background-color: #FFFFFF;
    height: 0;
    width: 100vw;
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    background-color: #808080;
}