html {
    background-color: #808080;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
}

.logo {
    width: 8em;
}

.titulo_header {
   margin-left: 100px;
   margin-top: 30px;
    
}

.botoesheader {
    width: 4em;
    margin-right: 1em;
    margin-top: 1em;
}



button {
    background-color: #F9E6B3;
    border: none;
}

main {
    background-color: #fcfdfd;
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 20px;
}


header {
    width: 100vw;
    height: 17vh;
    background-color: #F9E6B3;
}



.copyright {
    margin-top: 100px;
    text-align: center;
    background-color: #888787;
}


  .totalmeio {
    margin-top: 100px;
    color: rgb(5, 177, 250);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 425px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
  }

  .botao{
    color:white;
    background-color: rgb(10, 146, 213);
    margin-top: 50px;
    height: 50px;
    width: 150px; 
    height: 50px; 
    

  }

 
  
  

  
  
  
  
  

  
  