/* parametros para encaixar o meio corretamente*/
main {
    background-color: #fcfdfd;
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 20px;
}






/* meio da pagina onde fica todo o conteudo*/
.totalmeio {
    margin-top: 100px;
    color: rgb(5, 177, 250);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 425px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

/* botao registrar*/
.botao {
    color: white;
    background-color: rgb(10, 146, 213);
    margin-top: 50px;
    height: 50px;
    width: 150px;
    height: 50px;


}

/* palavra abaixo do icone*/
input {

    text-align: center;
}

/*resposividade*/

/* Para telas menores que 768px de largura */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }


    main {
        flex-direction: column;
        margin-top: 10px;
        height: auto;
    }

    .totalmeio {
        margin-left: 0;
        margin-top: 10px;
    }
}