html {
    background-color: #808080;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
}

.logo {
    width: 8em;
}

.titulo_header {
    margin-left: 100px;
    margin-top: 30px;

}


.botoesheader {
    width: 4em;
    margin-right: 1em;
    margin-top: 1em;
}


/* icone editar*/
button {
    background-color: #F9E6B3;
    border: none;
}

/* parametros para encaixar o meio corretamente*/
main {
    background-color: #fcfdfd;
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 20px;
}

/* cabeçalho(topo da pagina)*/
header {
    width: 100vw;
    height: 17vh;
    background-color: #F9E6B3;
}


/* rodape (final da pagina)*/
.copyright {
    margin-top: 100px;
    text-align: center;
    background-color: #888787;
}









/
  
  
  
  