/* parametros para encaixar o meio corretamente*/
main {
    background-color: #faf5f5;
    color: rgb(254, 249, 249);
    width: 100vw;
    height: 90vh;
    display: flex;
    margin-top: 20px;
}

#rodape{
    margin-top: 375px;
}